				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Contact</h2>
                        <div class="index align-left">
                                
                            <!-- Form -->
                                <section>
                                    <!-- <header>
                                        <h3>Contact</h3>
                                    </header> -->
                                    <div class="content">

                                        <form accept-charset="UTF-8" method="post" action="https://getform.io/f/52b545c4-a4dd-4423-8c53-722dab3302b2">
                                            <div class="fields">
                                                <div class="field half">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="name" id="name" value="" />
                                                </div>
                                                <div class="field half">
                                                    <label for="email">Email</label>
                                                    <input type="email" name="email" id="email" value="" />
                                                </div>
                                                <!-- <div class="field">
                                                    <label for="department">Department</label>
                                                    <select name="department" id="department">
                                                        <option value="">- Category -</option>
                                                        <option value="1">Manufacturing</option>
                                                        <option value="2">Shipping</option>
                                                        <option value="3">Administration</option>
                                                        <option value="4">Human Resources</option>
                                                    </select>
                                                </div> -->
                                                <!-- <div class="field third">
                                                    <input type="radio" id="priority-low" name="priority" checked />
                                                    <label for="priority-low">Low Priority</label>
                                                </div> -->
                                                <!-- <div class="field third">
                                                    <input type="radio" id="priority-normal" name="priority" />
                                                    <label for="priority-normal">Normal Priority</label>
                                                </div> -->
                                                <!-- <div class="field third">
                                                    <input type="radio" id="priority-high" name="priority" />
                                                    <label for="priority-high">High Priority</label>
                                                </div> -->
                                                <div class="field">
                                                    <label for="message">Message</label>
                                                    <textarea name="message" id="message" rows="6"></textarea>
                                                </div>
                                                <!-- <div class="field half">
                                                    <input type="checkbox" id="copy" name="copy" />
                                                    <label for="copy">Email me a copy of this message</label>
                                                </div> -->
                                                <!-- <div class="field half">
                                                    <input type="checkbox" id="human" name="human" checked />
                                                    <label for="human">I am a human and not a robot</label>
                                                </div> -->
                                            </div>
                                            <ul class="actions">
                                                <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                                            </ul>
                                        </form>

                                    </div>
                                </section>

                        </div>


                    </div>
                </section>
